@import "tailwindcss";

@theme {
  --radius-large: 8px;
  --radius-small: 3px;

  --color-blue: #009be3;
  --color-body-bg: #f1f1f4;
  --color-card-white: #ffffff;
  --color-dark: #0a1659;
  --color-disabled: #959595;
  --color-footer-box: #1b2357;
  --color-footer-box-hover: #2c3363;
  --color-footer-dark: #081146;
  --color-gray-border: #dadbe3;
  --color-green: #27ae60;
  --color-light-dark: #9da0b5;
  --color-pink: #f531b1;
  --color-purple: #6560e2;
  --color-white: #ffffff;

  --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: Roboto Mono, Consolas, Menlo, Monaco, monospace;

  --text-huge: 48px;
  --text-large: 24px;
  --text-large-32: 32px;
  --text-medium: 18px;
  --text-medium-20: 20px;
  --text-small: 14px;
  --text-tiny: 12px;

  --breakpoint-md: 1001px;

  --spacing-18: 72px;

  --z-index-popover: 100;
}

html {
  background: #d60690;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  background: #f1f1f4;
}

@layer base {
  svg {
    display: inline-block;
  }

  button {
    white-space: nowrap;
  }
}
